.filterSnip{
  background-color: #1f1f21;
  position: relative;
  z-index: 2;
  height: 100%;
  // width: 300px;
  // overflow: auto;
  // height: calc(100vh - 56px);
  // position: fixed;
  // top: 56px;
  // left: 0;
  // box-sizing: border-box;
  // padding-bottom: 65px;
  // z-index: 2;

  // &::before{
  //   content: '\f060';
  //   font-family: 'Fontawesome';
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   right: 0;
  //   color: #8b8b8d;
    // background-color: #1f1f21;
  //   padding: 10px;
  //   border-radius: 100%;
  // }

  // &::after{
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 10px;
  //   height: 100%;
  //   background-color: transparent;
  //   z-index: 1;
  // }

  label{
    padding: 5px 0;
    text-align: center;
    background-color: #363638;
    color: #8b8b8d;
    font-size: 1.6rem;
    margin: 0;
    display: block;
  }

  input{
    margin: 20px auto 40px auto;
    width: 200px;
    height: 40px;
    display: block;
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 1.6rem;
    font-weight: 300;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #8b8b8d;
    color: #8b8b8d;
  }

  &__category{
    &__input{
      position: relative;

      &__add{
        position: absolute;
        right: 20px;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s ease;
        &:hover{
          transform: translateY(-50%) rotate(90deg);
        }
        i{
          color: #8b8b8d;
          font-size: 2.5rem;
        }
      }
    }
  }

  &__category-loop{
    height: 162px;
    overflow: auto;

    &__ul{
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 20px;

      li{
        color: #8b8b8d;
        background-color: #363638;
        font-size: 1.4rem;
        padding: 5px 10px;
        border-radius: 3px;
        margin-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;

        i{
          margin-left: 5px;
        }
      }
    }
  }

}
