.footer{
  background-color: #1f1f21;
  position: relative;
  z-index: 6;

  &__copyright{
    text-align: center;
    padding: 7px 0;

    .footer-text{
      color: #b5b5b5;
      font-size: 1.6rem;
      a{
        color: #b5b5b5;
        font-size: 1.6rem;
        text-decoration: underline;
      }
    }
  }
}
