.logInWithButton{
  text-align: center;
  margin-bottom: 30px;
  button{
    color: #fff;
    font-size: 2rem;
    padding: 7px;
    cursor: pointer;
    border-radius: 7px;
  }
  span{
    padding: 5px;
    font-weight: 700;
  }

  &__icon{
    border-right: 1px solid #fff;
    margin-right: 5px;
    // display: inline-block;
  }
}
