.snip-box{
  background-color: #fff;
  border: 1px solid #c7cccf;
  margin: 15px;

  p{
    font-size: 1.4rem;
    color: #333333;
  }

  &__strong{
    font-weight: 700;
    color: #000;
  }

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c7cccf;

    &__title{
      // border-right: 1px solid #c7cccf;
      padding: 0 10px;

    }

    &__edit{
      // border-left: 1px solid #c7cccf;
      padding: 0 10px;

      i{
        font-size: 2rem;
        color: #0499e5;
      }
    }

    &__private{
      margin-left: 15px;
      padding: 5px;
      text-transform: uppercase;
      color: #fff;
      border-radius: 3px;
      font-size: 1.2rem;

      &--private{
        background-color: red;
      }

      &--public {
        background-color: green;
      }
    }
  }

  &__body{
    padding: 10px;
    font-size: 1.6rem;
    height: 250px;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
    transition: all .3s ease;

    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    &__expand{
      position: absolute;
      bottom: 0;
      right: 0;
      border-top: 1px solid #c7cccf;
      border-left: 1px solid #c7cccf;
      z-index: 1;
      cursor: pointer;
      padding: 10px;
      background-color: #fff;
    }
    &__code{
      &__copy-btn{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        cursor: pointer;
        border: 1px solid #c7cccf;
        color: #000;
        font-size: 1.1rem;
        border-radius: 3px;
      }
    }
    &:hover &__code__copy-btn{
      opacity: 1;
      visibility: visible;
    }
  }

  &__footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #c7cccf;

    &__date{
      border-right: 1px solid #c7cccf;
      padding: 0 10px;
    }

    &__language{
      border-right: 1px solid #c7cccf;
      padding: 0 10px;
    }

    &__category{
      // border-right: 1px solid #c7cccf;
      padding: 0 10px;
    }
  }
}
