.dashboard{
  // display: flex;
  // justify-content: flex-start;
  position: relative;
  min-height: 100vh;

  &__filter{
    // background-color: #1f1f21;
    width: 310px;
    // overflow-y: auto;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
    box-sizing: border-box;
    // padding-bottom: 65px;
    z-index: 2;
    border-right: 10px solid transparent;
    transition: left .3s ease;

    &__toggle-menu{
      position: absolute;
      top: 50%;
      color: #8b8b8d;
      background-color: #363638;
      padding: 20px 10px;
      border-top-right-radius: 17px;
      border-bottom-right-radius: 17px;
      cursor: pointer;
      border-left: 1px solid #1f1f21;
      transition: left .3s ease-in-out 1s;
      z-index: 1;
      opacity: .9;

      &--open{
        left: 260px;
      }

      i{
        font-size: 3rem;
      }
    }
    &:hover &__toggle-menu--open{
      left: 300px;
      transition: left .3s ease-in-out 0s;
    }

  }
  &__snippets{
    margin-left: 300px;
    transition: margin-left .3s ease;
  }
  &__addsnip{
    position: fixed;
    z-index: 7;
    bottom: 20px;
    right: 20px;

    &__btn{
      i{
        border-radius: 100%;
        background-color: #0499e5;
        padding: 20px 22.2px;
        font-size: 2rem;
        color: #fff;
        transition: all .3s ease;

        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }

}
