html { font-size: 62.50%; }
// font-family: 'Open Sans', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
body { font-family: 'Open Sans', sans-serif; margin: 0; background-color: #f2f2f2;}
.hljs{
  background-color: #fff;
}
span.required{
  color: #e21513;
}
p.error{
  color: #e21513;
  font-size: 1.4rem;
  text-align: center;
}
p.successful{
  color: #7e7e7e;
  font-size: 1.4rem;
  text-align: center;
}
.loading-cont{
  width: 100vw;
  height: 100vh;
  background-color: #4684ee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   background-color: #fff;
   text-align: center;

   &__content {
    button{
      margin: 10px;
      cursor: pointer;
      color: #fff;
      padding: 5px 10px;
      border-radius: 3px;
    }
    &--no{
      background-color: #4684ee;
    }
    &--yes{
      background-color: #e21513;
    }
   }
 }
.Overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, .7);
 }
 a{
   text-decoration: none !important;
 }
 .hidden{
   display: none;
 }
 .text-center{
   text-align: center;
 }
